.main-section {
  width: 100%;
  min-height: 100vh;
}

.create-edit-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-form,
.edit-form {
  width: 100%;
  max-width: 750px;
  margin-top: 60px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 20px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background-color: var(--white);
  margin-bottom: 100px;
}

.field {
  line-height: 30px;
  width: 100%;
  height: fit-content;
  padding: 10px;
}

.create-edit-inputfield {
  width: 100%;
  max-width: 750px;
  height: 52px;
  font-size: 1.125rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--grey);
  font-family: inherit;
}

.post-body {
  width: 100%;
  max-width: 750px;
  height: 200px;
  font-size: 1.125rem;
  padding: 10px;
  border-radius: 10px;
  font-family: inherit;
}

.word-count-container {
  display: flex;
  float: right;
}

.word-count-container p {
  font-size: 1rem;
}

::placeholder {
  color: var(--black);
  opacity: 0.5;
}

.btn-container {
  width: 100%;
  max-width: 750px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cancel-btn,
.post-btn,
.update-btn,
.delete-btn {
  width: 50%;
  height: 52px;
  font-size: clamp(1.5rem, 5vw, 1.3rem);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cancel-btn {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--grey);
}

.cancel-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.post-btn,
.update-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.post-btn:hover,
.update-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.delete-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.delete-btn {
  background-color: red;
  color: var(--white);
  border: 1px solid red;
}

.delete-btn:hover {
  background-color: var(--white);
  color: red;
  border: 1px solid red;
}

@media screen and (max-width: 900px) {
  .create-form,
  .edit-form {
    width: 90%;
  }

  .btn-container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .cancel-btn,
  .post-btn,
  .update-btn {
    width: 100%;
  }

  .delete-btn {
    width: 80%;
  }
}
