.view-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.username-container {
  width: 100%;
  height: 40px;
  margin-top: 120px;
  text-align: center;
}

.username-container a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}

.post-container {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.post-title-container {
  margin-top: 40px;
}

.post-title-container,
.image-container,
.body,
.reaction-container,
.post-update-container,
.react-comment-container,
.comments-section,
.comment-create-container,
.comment-main,
.comment-form textarea {
  width: 100%;
  max-width: 500px;
  height: fit-content;
}

.image-container {
  margin-top: 20px;
}

.post-image {
  width: 100%;
}

.body {
  margin-top: 20px;
  font-size: clamp(1.25rem, 5vw, 1.35rem);
}

.back-edit-container,
.back-container {
  width: 60%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.bi-arrow-left-square,
.bi-hand-thumbs-up,
.bi-hand-thumbs-up-fill,
.bi-pencil-square,
.bi-chat {
  font-size: 1.8rem;
  cursor: pointer;
  color: var(--black);
}

.react-comment-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.reaction-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.reaction-container p {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
}

.comments-section {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  background-color: rgb(140, 140, 140, 0.15);
  border: 1px solid rgb(140, 140, 140, 0.25);
  padding: 10px;
  border-radius: 10px;
}

.comments-section h3 {
  border-bottom: 1px solid var(--grey);
  line-height: 50px;
  font-size: clamp(1rem, 5vw, 1.25rem);
}

.comment-form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.comments-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}

.comments-list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
}

.comment-create-container {
  display: none;
}
.comment-create-container.active {
  display: block;
}

.reply,
.bi-trash {
  font-size: clamp(0.8rem, 5vw, 1rem);
  cursor: pointer;
}

.post-comment-btn {
  width: 100%;
  height: 42px;
  background-color: var(--blue);
  margin: 0 auto;
  cursor: pointer;
  border-radius: 10px;
  font-size: clamp(0.8rem, 5vw, 1rem);
  font-weight: normal;
  color: var(--white);
  border: none;
}

.post-comment-btn:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid;
}

.replies-list {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.comment-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.comment-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textarea-reply {
  width: 100%;
  height: auto;
}

.post-update-container {
  margin-top: 40px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-update {
  color: var(--grey);
  font-size: clamp(0.8rem, 5vw, 1rem);
}

@media screen and (max-width: 1100px) {
  .back-edit-container,
  .back-container {
    width: 100%;
  }
}
