.coming-soon-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.coming-soon-content {
  width: 80%;
  max-width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}

.coming-soon-content h1,
.coming-soon-content h2 {
  color: var(--white);
}
