.main-footer {
  width: 100%;
  min-height: 696px;
  background-color: var(--primary-color);
  overflow-wrap: break-word;
}

.main-footer p,
.main-footer h2 {
  color: var(--secondary-color);
}

.main-footer h2 {
  font-weight: bold;
}

.footer-container {
  width: 100%;
  height: 321px;
  display: flex;
  justify-content: center;
  gap: 20%;
  line-height: 50px;
}

.footer-left-container {
  margin-top: 50px;
}

.footer-right-container {
  margin-top: 50px;
}

.links-container {
  text-align: left;
  gap: 10px;
}

.links-container a {
  overflow-wrap: break-word;
  text-decoration: none;
}

.footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.footer-logo {
  width: 157px;
  height: auto;
}

.footer-bottom p {
  font-size: 1rem;
}

@media screen and (max-width: 750px) {
  .footer-container {
    height: fit-content;
    display: block;
    padding-top: 50px;
  }

  .footer-left-container {
    margin-left: 50px;
    margin-top: 0px;
  }

  .footer-right-container {
    margin-left: 50px;
    margin-top: 50px;
  }

  .footer-logo-container {
    margin-top: 100px;
  }
}
